body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;text-decoration: none;
}

.flex {
    display: flex;
}
.flex-row-reverse
{
    display: flex;
    flex-direction: row-reverse;
}

.align {
    align-self: center;
}
.align-flex-end {
    align-self: flex-end;
}

.flex-with-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-with-content-center {
    display: flex;
    justify-content: center;
}

.icon {
    font-size: 30px;
    color: black;
    padding-top: 5px;
}

.go-back {
    color: black;
    font-size: 20px;
    padding-top: 8px;
}

.font-15px-bold {
    font-size: 15px;
    font-weight: bold;
}

.font-15px a {
    text-decoration: none;
    color: black;
}

.gray-font {
    font-size: 13px;
    color: gray;
}

.title {
    padding-top: 10px;
}

.bold {
    font-weight: bold;
}

.cart-icon {
    color: black;
    padding-top: 10px;
}

.margin {
    margin: 2em;
}

.margin-top {
    margin-top: 1em;
}

.margin-left {
    margin-left: 5%;
}

.margin-left {
    margin-left: 4em;
}

.margin-right {
    margin-left: 2%;
}

.margin-top-4em {
    margin-top: 4em;
}

.margin-bottom {
    margin-bottom: 2em;
}

.margin-bottom-4em {
    margin-bottom: 4em;
}

.padding {
    padding: 1em;
}

.nav-btn {
    border: 2px solid white;
    background-color: white;
    color: black;
    font-size: 13px;
    padding: 10px;
    cursor: pointer;
}

.nav-btn:active {
    background-color: grey;
    color: white;
}

.shop-btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 45px;
    font-size: 15px;
    cursor: pointer;
}

.shop-btn:active {
    background-color: black;
    color: white;
}

.mens-wear, .ladies-wear, .mens-tshirts, .ladies-tshirts {
    background-image: url("images/mens_outerwear.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 320px;
    width: 100%;
}

.ladies-wear {
    background-image: url("images/ladies_outerwear.jpg");
}

.mens-tshirts {
    background-image: url("images/mens_tshirts.jpg");
}

.ladies-tshirts {
    background-image: url("images/ladies_tshirts.jpg");
}

.shop-items {
    width: 33.33%;
    float: left;
}

.shop-item-img {
    width: 80%;
    margin-left: 10%;
}

.width {
    width: 50%;
}

footer {
    background-color: black;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
}

.product {
    width: 80%;
    margin-left: 10%;
}

.quantity, .size {
    -webkit-appearance: button;
    background-image: url(http://i62.tinypic.com/15xvbd5.png);
    background-color: white;
    background-position: 98% center;
    background-repeat: no-repeat;
    border: none;
    color: black;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid gray;
    font-size: 20px;
    padding-left: 20%;
}

.text~.bar, .size~.bar, .quantity~.bar {
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: black;
    transition: ease all 0.5s;
}

.text:focus~.bar, .size:focus~.bar, .quantity:focus~.bar {
    left: 0;
    width: 100%;
    transition: ease all 0.5s;
}

.select-size {
    position: relative;
    border-top: 1px solid gray;
    margin-top: 2em;
}

.select-size-float {
    position: relative;
    width: 100%;
    float: left;
    -webkit-appearance: button;
    background-image: url(http://i62.tinypic.com/15xvbd5.png);
    background-color: white;
    background-position: 98% center;
    background-repeat: no-repeat;
    border: none;
    color: black;
}

.quantity-select {
    position: relative;
    margin-bottom: 2em;
}

.span {
    top: 35%;
    position: absolute;
    left: 0;
}

.input-details {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}

.text {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
}

.text~.transition {
    position: absolute;
    top: 45%;
    left: 0;
    color: gray;
    font-size: 20px;
    transition: ease all 0.5s;
    z-index: -1;
}

.text:focus~.transition, has-content.text~.transition {
    top: 0%;
    font-size: 14px;
    color: black;
}

.no-transition {
    position: absolute;
    left: 0;
    top: 0%;
    font-size: 14px;
    color: black;
    z-index: -1;
}

.state {
    position: relative;
    width: 47.5%;
    margin-bottom: 1em;
    float: left;
}

.hide {
    display: none;
}

input:checked~.hide {
    display: contents;
}

.month {
    position: relative;
    width: 32%;
    margin-bottom: 1em;
    float: left;
}

.price {
    width: 400px;
    justify-content: space-around;
    float: right;
}

.added-items,.check-out {
    height: 150px;
    width: 900px;
}
.check-out{
    height:100px;
}

.items {
    height: 200px;
    width: 100%;
}

.added-item-pic {
    width: 80px;
    height: 80px;
    float: left;
}

.item-name {
    float: left;
}

.close {
    float: right;
    width: 40px;
    height: 50px;
}
.select-items
{
    position: relative;
}
.total-items
{
    
    width:80px;
    padding-left: 40px;
    border:none;
}
.label-absolute
{
    position: absolute;
    left:0;top:14px;
}

@media only screen and (max-width:780px) {
    .small {
        display: none;
    }
    .shop-items {
        width: 50%;
    }
    .address-details, .payment-details {
        width: 86%;
        margin-left: 7%;
    }
    .price {
        clear: right;
        float: right;
        width: 200px;
    }
}

@media only screen and (min-width:780px) {
    .icon {
        visibility: hidden;
    }
    .large {
        display: none;
    }
    body {
        margin: 2.5em;
    }
    .product-img, .product-details {
        width: 50%;
        float: left;
    }
    .margin-large {
        margin-top: 100px;
    }
    .address-details, .payment-details {
        width: 30%;
        float: left;
        margin-left: 16%;
    }
    .payment-details {
        margin-left: 8%;
    }
}